<a href="https://colab.research.google.com/github/TheAtu/learning-python/blob/main/2_Variables_and_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

This tutorial will go over a few basic types of variables.

## Numbers

Python supports two types of numbers - integers(whole numbers) and floating point numbers(decimals).

To define an integer, use the following syntax:

In [1]:
myint = 42
print(myint)

42

To define a floating point number, you may use one of the following notations:

In [2]:
myfloat = 42
print(myfloat)
myfloat = float(42)
print(myfloat)

42
42.0

## Strings
Strings are defined either with a single quote or a double quotes.

In [3]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [ ]:
mystring = "Don't worry about apostrophes"
print(mystring)

There are additional variations on defining strings that make it easier to include things such as carriage returns, backslashes and Unicode characters. If we want to break a string into two lines, we can use the new line character `\n` as shown below.

In [4]:
mystring = "This is the first line.\nThis is the second line."
print(mystring)

SyntaxError: ignored

we can use the backspace character `\b` to remove characters.

In [ ]:
mystring = "This is the first linE\be"
print(mystring)

This is the first linEe

Simple operators can be executed on numbers and strings:

In [ ]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

Assignments can be done on more than one variable "simultaneously" on the same line like this

In [ ]:
a, b = 3, 4
print(a, b)

Mixing operators between numbers and strings is not supported:

In [ ]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

## Exercise
The target of this exercise is to create a string, an integer, and a floating point number. The string should be named `mystring` and should contain the word "hello". The floating point number should be named `myfloat` and should contain the number 10.0, and the integer should be named `myint` and should contain the number 20.

In [12]:
# change this code
mystring = None
myfloat = None
myint = None

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

#More Ways of generating Strings (https://realpython.com/python-string-formatting/)
#formatted string literals/Interpolation ("f-strings") since Python 3.6
name = "Alfonso"
age = 22
stringMessage = f"{name} tiene {age} de edad\nSaludos!"
print(stringMessage)
#“New Style” String Formatting (str.format) since Python 3.0
"Hi {}, you are {}".format(name, age)
"Hi {name}, you are {age}".format(name=name, age=age)

Alfonso tiene 22 de edad
Saludos!

'Hi Alfonso, you are 22'

## Solution

    String: hello
    Float: 10.000000
    Integer: 20