<a href="https://colab.research.google.com/github/TheAtu/learning-python/blob/main/3_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists

Collections of items can be stored in Lists. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist)


You can access individual elements in a list by using indices. The first element in a Python list is at index 0. A list with 3 elements would have indices 0,1,2

In [ ]:
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

Accessing an index which does not exist generates an exception (an error).

In [ ]:
mylist = [1,2,3]
print(mylist[10])

## Exercise

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [5]:
numbers = [1,2,3]
strings = []
names = ["Juan","Eric", "Roberta", "Fernando"]

# Add numbers 1,2,3 to the numbers list.

# Get the value of the second_name from the names list
second_name = names[1]
strings.extend(numbers) #Agrega los elementos de la lista [numbers] => [strings]
strings.append(names) #Agrega la lista [names] => [strings], toda la lista como 1 elemento de [strings]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
[1, 2, 3, ['Juan', 'Eric', 'Roberta', 'Fernando']]
The second name on the names list is Eric

## Solutions
    numbers = [1, 2, 3]
    strings = ['hello', 'world']
    second_name = The second name on the names list is Roberta